*{
    scroll-behavior: smooth;
}
.app{
    min-height: 100vh;
    background-color: #1e272e;
    padding-top: 40px;
    padding-bottom: 80px;
}

@media(max-width: 700px) {
    .app{
        padding-top: 30px;
    }
}